.sign-in {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.sign-in .background {
  position: absolute;
  width: 100%;
  height: 100%;
}

.sign-in .header {
  grid-area: header;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 85px;
    background: none;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    color: white;
}

@keyframes flickerGlow {
  0% {
      filter: drop-shadow(0px 0px 5px rgba(255, 255, 255, 0.5));
  }

  50% {
      filter: drop-shadow(0px 0px 20px rgb(177, 42, 42));
  }

  100% {
      filter: drop-shadow(0px 0px 5px rgba(255, 255, 255, 0.5));
  }
}

.logo img {
  height: 100px;
  animation: flickerGlow 1s infinite alternate;
}

.aboutus {
  display: flex;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold; 
  gap: 8px; 
  text-decoration: none; 
  color: inherit;
  right: 30px;
  top: 20px;
  position: absolute; 
  transition: transform 0.2s;
}

.aboutus:hover {
    transform: scale(1.2); 
}

.aboutus i {
  font-size: 20px; 
}

.aboutus p {
  margin: 0; 
  font-size: 16px; 
}

.sign-in .frame {
  position: absolute;
  width: 600px;
  height: 670px;
  top: 20px;
  left: 411px;
  background-color: #22222233;
  border-radius: 58px;
  overflow: hidden;
  border: 2px solid;
  border-color: #9b9a9a;
}

.sign-in .hello-welcome-back {
  position: absolute;
  width: 534px;
  top: 41px;
  left: 38px;
  text-shadow: 0px 4px 4px #00000040;
  -webkit-text-stroke: 1px #000000;
  font-family: "PoetsenOne-Regular", Helvetica;
  font-weight: 700;
  color: #dddddd;
  font-size: 49px;
  text-align: center;
  letter-spacing: 0;
  line-height: 56.3px;
}

.sign-in .input-field {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 55px;
  align-items: flex-start;
  gap: var(--size-space-200);
  position: absolute;
  top: 201px;
  left: 106px;
}

.sign-in .input {
  display: flex;
  min-width: 240px;
  align-items: center;
  padding: var(--size-space-300) var(--size-space-400) var(--size-space-300) var(--size-space-400);
  position: relative;
  flex: 1;
  align-self: stretch;
  width: 100%;
  flex-grow: 1;
  margin-top: -1.00px;
  margin-bottom: -1.00px;
  margin-left: -1.00px;
  margin-right: -1.00px;
  background-color: var(--color-background-default-default);
  border-radius: 19px;
  overflow: hidden;
  border: 1px solid;
  border-color: var(--color-border-default-default);

}

.sign-in .input-box {
  width: 400px;
  height: 55px;
  padding: 10px;
  border: 0px solid #ccc;
  border-radius: 10px;
  font-size: 16px;
  outline: none;
  left: 10px;
}

.sign-in .input-box:focus {
  border-color: #007bff;
  /* Khi bấm vào sẽ có viền xanh */
}

.sign-in .value {
  position: relative;
  flex: 1;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: var(--color-text-default-default);
  font-size: 17px;
  letter-spacing: 0;
  line-height: 17px;
}

.sign-in .text-wrapper {
  color: #a3a2a2;
}

.sign-in .span {
  color: #7f0000;
}

.sign-in .div {
  position: absolute;
  width: 400px;
  height: 88px;
  top: 287px;
  left: 106px;
}

.sign-in .input-field-2 {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 55px;
  align-items: flex-start;
  gap: var(--size-space-200);
  position: absolute;
  top: 0;
  left: 0;
}

.sign-in .input2 {
  display: flex;
  min-width: 240px;
  align-items: center;
  padding: var(--size-space-300) var(--size-space-400) var(--size-space-300) var(--size-space-400);
  position: relative;
  flex: 1;
  align-self: stretch;
  width: 100%;
  flex-grow: 1;
  margin-top: -1.00px;
  margin-bottom: -1.00px;
  margin-left: -1.00px;
  margin-right: -1.00px;
  background-color: var(--color-background-default-default);
  border-radius: 19px;
  overflow: hidden;
  border: 1px solid;
  border-color: var(--color-border-default-default);

}

.sign-in .input2-box {
  width: 400px;
  height: 55px;
  padding: 10px;
  border: 0px solid #ccc;
  border-radius: 10px;
  font-size: 16px;
  outline: none;
  left: 100px;
}

.sign-in .input2-box:focus {
  border-color: #007bff;
  /* Khi bấm vào sẽ có viền xanh */
}

.sign-in .button {
  all: unset;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: var(--size-space-200);
  padding: var(--size-space-300);
  position: absolute;
  top: 51px;
  left: 259px;
  overflow: hidden;
  border: 1px solid;
  border-color: transparent;
  color: #bab6b6;
}

.sign-in .button-3 {
  all: unset;
  box-sizing: border-box;
  display: flex;
  width: 400px;
  height: 55px;
  align-items: center;
  justify-content: center;
  gap: var(--size-space-200);
  padding: var(--size-space-300);
  position: absolute;
  top: 405px;
  left: 106px;
  background-color: #f5f5f5;
  border-radius: 15px;
  overflow: hidden;
  border: 0px none;
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  border-color: var(--color-border-brand-default);
  color: #000000;
}

.sign-in .button-3:hover {
  background-color: #605d5d;
  color: #f5f5f5;
}

.sign-in .button-4 {
  all: unset;
  box-sizing: border-box;
  position: relative;
  width: fit-content;
  font-family: "Istok Web-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 40px;
  padding-left: 40px;
  white-space: nowrap;
  border: 1px solid rgb(219, 210, 210);
  border-radius: 20px;
}

.sign-in .button-4:hover {
  border: 1px solid rgb(71, 71, 76);
}

.sign-in .button-5 {
  all: unset;
  box-sizing: border-box;
  display: flex;
  width: 400px;
  height: 62px;
  align-items: center;
  justify-content: center;
  gap: var(--size-space-200);
  padding: var(--size-space-300);
  position: absolute;
  top: 505px;
  left: 106px;
  background-color: #656564;
  border-radius: 20px;
  overflow: hidden;
  border: 1px solid;
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  border-color: transparent;
  color: #ffffff;
}

.sign-in .button-5:hover {
  background-color: #ffffff;
  color: #000000;
}

.sign-in .button-6 {
  all: unset;
  box-sizing: border-box;
  position: relative;
  width: fit-content;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #f4f4f4;
  font-size: 16px;
  letter-spacing: 2px;
  line-height: 40px;
  padding-left: 40px;
  white-space: nowrap;
  border: 1px solid rgb(219, 210, 210);
  border-radius: 20px;
}

.sign-in .button-6:hover {
  border: 1px solid rgb(102, 102, 106);
}

.sign-in .text-wrapper-2 {
  position: absolute;
  top: 465px;
  left: 289px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 24px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.sign-in .pngegg-wrapper {
  position: absolute;
  width: 129px;
  height: 41px;
  top: 602px;
  left: 134px;
  background-image: url(./img/button.svg);
  background-size: 100% 100%;
}

.sign-in .pngegg {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 0;
  left: 0;
  object-fit: cover;
}

.sign-in .pngwing-com-wrapper {
  position: absolute;
  width: 116px;
  height: 41px;
  top: 602px;
  left: 244px;
  background-image: url(./img/image.svg);
  background-size: 120% 120%;
  cursor: pointer; 
}

.sign-in .pngwing-com {
  position: absolute;
  width: 62px;
  height: 42.5px;
  top: 0;
  left: -11.2px;
  object-fit: cover;
}

.sign-in .text-wrapper-3 {
  position: absolute;
  width: 88px;
  height: 20px;
  top: 571px;
  left: 245px;
  font-family: "Roboto-Medium", Helvetica;
  font-weight: 500;
  color: #bebebe;
  font-size: 12px;
  text-align: right;
  letter-spacing: 0.10px;
  line-height: 20px;
  white-space: nowrap;
}

@keyframes flickerGlow {
  0% {
    filter: drop-shadow(0px 0px 5px rgba(255, 255, 255, 0.5));
  }

  50% {
    filter: drop-shadow(0px 0px 20px rgb(168, 0, 0));
  }

  100% {
    filter: drop-shadow(0px 0px 5px rgba(255, 255, 255, 0.5));
  }
}

.sign-in .logoweb {
  position: absolute;
  width: 170px;
  height: 160px;
  top: 0;
  left: 22px;
  object-fit: cover;
  animation: flickerGlow 1s infinite alternate;
}

.logo-home {
  position: relative;
  top: -1020px;
  left: 50px;
}